In [5]:
fruits=['Apple','Banana', 'Lemon', 'Mango']

In [8]:
fruits.extend(['a', 'b', 'c'])
fruits

['Apple',
 'Banana',
 'Lemon',
 'Mango',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [9]:
fruits.count('a')

3

In [13]:
fruits.index('a')

4

In [16]:
fruits.clear()
fruits

[]

In [18]:
fruits=['Apple','Banana', 'Lemon', 'Mango']

In [21]:
fruits2=fruits.copy()
fruits2

['Apple', 'Banana', 'Lemon', 'Mango']

In [23]:
fruits3=fruits

In [27]:
fruits3

['Apple', 'Banana', 'Lemon', 'Mango']

In [30]:
fruits.append('new fruit')

In [31]:
fruits3

['Apple', 'Banana', 'Lemon', 'Mango', 'new fruit', 'new fruit']

In [36]:
del fruits3[1]
fruits
fruits.extend(['Grape', 'watermellon'])
fruits

['Apple', 'Grape', 'watermellon', 'Grape', 'watermellon']

# Slicing

In [45]:
#Index
            -4     -3        -2       -1
students=['Ali', 'Bilal', 'Qasim', 'Javed']

#Index     0       1        2        3

In [48]:
print(students[0])
print(students[-4])

Ali
Ali

In [51]:
#students[start:end+1], slicing is done of the list hence result will also be a list
students[0:2]

['Ali', 'Bilal']

In [53]:
students[-4:-1]

['Ali', 'Bilal', 'Qasim']

In [55]:
students[:] #complete list

['Ali', 'Bilal', 'Qasim', 'Javed']

In [64]:
print(students[0:]) # starts from zero to end
print(students[:3])
print(students[1:-1])
print(students[3:-4]) # it works only from left to right

['Ali', 'Bilal', 'Qasim', 'Javed']
['Ali', 'Bilal', 'Qasim']
['Bilal', 'Qasim']
[]

In [65]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [71]:
print(nums[0:16])
print(nums[0:16:2])
print(nums[0:16:1])
print(nums[0:16:4])
print(nums[::5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 5, 9, 13]
[1, 6, 11, 16]

In [72]:
del nums[0] #del function removes the given index

In [73]:
nums

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [74]:
nums.remove(2) #remove function removes the value
nums

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [76]:
nums.pop() # be default pop will remove from last or we can give index aswell
nums

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [78]:
nums.pop(0)
nums

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# tupples is list but not modifieable but list can be modified (additon or deletion), tupple(), list[]

In [79]:
tupplelist=('ali', 100, 'boss')

In [81]:
len(tupplelist)

3

In [84]:
del tupplelist()

SyntaxError: can't delete function call (<ipython-input-84-088e3394139e>, line 1)

In [86]:
tupplelist[1]  #indexing

100

In [88]:
a = 25, 35 #tupples can be defined without brackets as well

In [89]:
a

(25, 35)

In [96]:
print(a.index(25))
print(a.count(25))

0
1